<div class="container-fluid mt-5">
    <div class="container">
      <table class="row-border hover">
        <thead>
          <tr>
            <th>Cpf</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Salario</th>
            <th>Saldo</th>
            <th>cidade</th>
            <th>estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>114.787.429-84</td>
            <td>Murilo dos Santos</td>
            <td>dmurilo750@gmail.com</td>
            <td>R$ 3600,00</td>
            <td>R$ 30000,00</td>
            <td>Curitiba</td>
            <td>Paraná</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  