<header class="menu-bar">
  <ul>
    <li class="nav-item"><a class="nav-link" href="/gerente" routerLink="/gerente/inicio">Início</a></li>
    <li class="nav-item"><a class="nav-link" href="#" routerLink="/gerente/contas">Contas</a></li>
    <li class="nav-item"><a class="nav-link" href="/listarClientes" routerLink="/gerente/listarClientes">Clientes</a></li>
    <li class="nav-item"><a class="nav-link" href="/consultarCliente" routerLink="/gerente/consultarCliente">Consultar Cliente</a></li>
    <li class="nav-item"><a class="nav-link" href="/melhoresClientes" routerLink="/gerente/melhoresClientes">Melhores Clientes</a></li>

  </ul>
  <button class="sair-button">Sair</button>
</header>
