<div class="modal-header">
    <h5 class="modal-title">Recusar Conta</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"></button>
</div>
<div class="modal-body">
    <div>
        <form>
            <div class="form-group">
            <input type="text" style="width:100%" placeholder="Motivo" id="Motivo" name="Motivo">
            </div>
            <button type="submit" class="btn btn-danger">Reprovar</button>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
</div>