<header>
  <img src="./images/logo.png" alt="logo" width="150px" />
  <nav>
    <a class="link" href="#">Para você</a>
    <a class="link" href="#">Para seu negócio</a>
    <a class="link-btn" href="#">ABRA SUA CONTA</a>
  </nav>
</header>

<main>
  <section class="first-section">
    <p class="info-points">
      <span>Novo</span>
      Conheça nosso Programa de Pontos Átomos
    </p>
    <h1>Um banco transparente, completo e com a sua cara</h1>
    <p class="info-account">
      Conta digital e cartão de crédito gratuitos. Saques e transferências sem tarifa.
    </p>
    <a href="#" class="btn-secondary">NOSSOS PRODUTOS</a>
  </section>

  <section class="second-section">
    <div>
      <h2>Sem tarifas:</h2>
      <h3>economize seu dinheiro</h3>
      <div class="container">
        <div class="container-cards">
          <div class="card">
            <img src="../images/icon-card.svg" alt="icon-card" />
            <p class="info">Saques nos caixas da rede Banco24Horas</p>
            <p class="description">
              São mais de 23 mil caixas em 680 municípios do Brasil. Saques ilimitados sem cobrança de tarifa.
            </p>
          </div>
          <div class="card">
            <img src="./images/icon-reload.svg" alt="icon-reload" />
            <p class="info">Transferências e TEDs ilimitadas</p>
            <p class="description">
              Movimente seu dinheiro para qualquer conta em qualquer banco sem pagar nada por isso.
            </p>
          </div>
        </div>
        <div class="container-cards">
          <div class="card">
            <img src="../images/icon-money.svg" alt="icon-money" />
            <p class="info">Depósito por boleto</p>
            <p class="description">
              Emita boletos grátis e traga dinheiro para a sua conta BanTADS sem pagar tarifas.
            </p>
          </div>
          <div class="card">
            <img src="../images/icon-timer.svg" alt="icon-timer" />
            <p class="info">Atendimento 24h</p>
            <p class="description">
              Conte com a gente 24h por dia, 7 dias por semana pelo chat do app.
            </p>
          </div>
        </div>
      </div>
    </div>
    <img src="./images/cards.png" alt="cards group" class="cards-group" />
  </section>

  <section class="third-section">
    <div class="container-info">
      <div>
        <h2>Um banco completo</h2>
        <h3>com produtos exclusivos</h3>
      </div>
      <div class="container-links">
        <a class="second-link" href="#">PARA VOCÊ</a>
        <a class="second-link" href="#">PARA SUA EMPRESA</a>
      </div>
    </div>
    <div class="content-card-info">
      <div class="card-info">
        <p class="info">Conta com cartão BanTADS Business</p>
        <p class="description">
          A conta MEI é completa e não tem tarifa de manutenção. Além disso, você pode ter um cartão de crédito sem
          anuidade.
        </p>
        <div class="container-information">
          <img src="../images/icon-approximaton.svg" alt="icon-approximaton" />
          <p>Aproxime e pague</p>
        </div>
      </div>
      <div class="container-images">
        <img src="../images/card.svg" alt="card" class="img-card" />
        <img src="../images/phone.svg" alt="phone" class="img-phone" />
        <img src="../images/bussiness.png" width="200" alt="logo-business" />
      </div>
    </div>
  </section>
</main>