<div>
    <div style="width: 70%; padding-top: 40px; margin: 0 auto !important;float: none !important;">
      <div class="search-container-cpf">
        <form>
          <input type="text" placeholder="Procurar Cliente por CPF" id="cpf" name="cpf">
          <button type="submit">
            <i class="fa fa-search"></i></button>
        </form>
        <div class="row justify-content-md-center">

          <div class="row">
            <h4>Dados do cliente</h4>
            <div class="col-5">
              <ul class="list-group">
                <li class="list-group-item">
                  <p>Nome<br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Cpf <br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Email <br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Salário <br> R$

                </p>
                </li>
              </ul>
            </div>
            <div class="col-3">
              <ul class="list-group">
                <li class="list-group-item">
                  <p>Numero da conta <br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Saldo <br> R$

                </p>
                </li>
                <li class="list-group-item">
                  <p>Status <br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Limite <br> R$

                </p>
                </li>
                <li class="list-group-item">
                  <p>Data de Abertura <br>

                </p>
                </li>
              </ul>
            </div>
            <div class="col-4 ">
              <ul class="list-group">
                <li class="list-group-item">
                  <p>Estado <br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Cidade <br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Cep <br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Logradouro <br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Numero <br>

                </p>
                </li>
                <li class="list-group-item">
                  <p>Tipo <br>

                </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
    <div>
    </div>
