<div class="container-fluid mt-5">
    <div class="container">
      <table class="row-border hover">
        <thead>
          <tr>
            <th>Cpf</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Salario</th>
            <th>Saldo</th>
            <th>cidade</th>
            <th>estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>R$

            </td>
            <td>R$

            </td>
            <td>

            </td>
            <td>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
