<div class="main container d-flex align-items-center justify-content-center">
  <div class="card">
    <div class="row">
        <h1 class="title">BANTADS</h1>
        <h2 class="description">O banco do universitário.</h2>
        <div class="enter" style = "text-align: center" >
          <button type="button" class="btn btn-success" style= "background-color: #6a0dad; border-color: #6a0dad ;" routerLink="/login">ENTRAR</button>
          <button type="button" class="btn btn-primary" routerLink="/autoCadastro">CADASTRE-SE</button>
        </div>
    </div>
  </div>
</div>


